<web-app xmlns= "https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation= "https://jakarta.ee/xml/ns/jakartaee
    https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version= "5.0"
         metadata-complete= "false">

  <servlet>
    <servlet-name>IndexServletJSP</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>IndexServletJSP</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>IndexServletJSP</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProductDetailJSP</servlet-name>
    <jsp-file>/product-detail.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductDetailJSP</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShopJSP</servlet-name>
    <jsp-file>/shop.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>ShopJSP</servlet-name>
    <url-pattern>/shop</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>iti.jets.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>iti.jets.servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>iti.jets.servlets.CartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ValidateEmailServlet</servlet-name>
    <servlet-class>iti.jets.servlets.ValidateEmailServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ValidateEmailServlet</servlet-name>
    <url-pattern>/validateEmail</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>iti.jets.servlets.AddToCartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>UpdateQuantityServlet</servlet-name>
    <servlet-class>iti.jets.servlets.UpdateQuantityServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UpdateQuantityServlet</servlet-name>
    <url-pattern>/updateQuantity</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>RemoveItemServlet</servlet-name>
    <servlet-class>iti.jets.servlets.RemoveItemServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RemoveItemServlet</servlet-name>
    <url-pattern>/removeItem</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>iti.jets.servlets.PlaceOrderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/placeOrder</url-pattern>
  </servlet-mapping>



  <listener>
    <listener-class>iti.jets.listeners.RequestListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>



</web-app>